<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AeroWizard" version="2.3.1" targetFramework="net472" />
  <package id="Krypton.Docking" version="95.25.4.111" targetFramework="net472" />
  <package id="Krypton.Navigator" version="95.25.4.111" targetFramework="net472" />
  <package id="Krypton.Ribbon" version="95.25.4.111" targetFramework="net472" />
  <package id="Krypton.Toolkit" version="95.25.4.111" targetFramework="net472" />
  <package id="Krypton.Workspace" version="95.25.4.111" targetFramework="net472" />
  <package id="RibbonWinForms" version="5.1.0-beta" targetFramework="net472" />
  <package id="WindowsAPICodePack-Core" version="1.1.2" targetFramework="net472" />
</packages>